*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
header{
    background-color: rgba(255, 144, 14, 0.1);;
}
.navigation{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    align-items: center;
}
.logo{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-top: 50px;
}
.navigation ul{
    margin-top: 50px;
    display: flex;
}
.navigation ul li{
    list-style: none;
    margin-left: 70px;
}
.navigation a{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500px;
}
.brand-container{
    background-color: rgba(255, 144, 14, 0.1);
}
.brand-info{
    width: 862px;
    margin: auto;
    /* align-items: center; */
    text-align: center;
}
.brand-info h2{
    font-weight: 700;
    font-size: 64px;
    padding-top: 100px;
}
.brand-info p{
    margin: 30px 0;
}
.explore-btn{
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    background-color: #FF900E;
}
.brand-img{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    padding-bottom: 50px;
}
.brand-img img{
    width: 1100px;
}