*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* common styles */

.description{
    color: #727272;
    margin-top: 20px;
}
.explore-btn{
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    background-color: #FF900E;
    cursor: pointer;
}
.section-title{
    font-weight: 700;
    font-size: 45px;
}

/* header styles */

header{
    background-color: rgba(255, 144, 14, 0.1);
}
.header-container{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    align-items: center;
}
.logo h2{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.navigation ul{
    display: flex;
}
.navigation ul li{
    list-style: none;
}
.navigation ul li a{
    margin-left: 40px;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

/* brand styeles */
.brand-container{
    background-color: rgba(255, 144, 14, 0.1);
}
.brand-info{
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.brand-info h2{
    font-weight: 700;
    font-size: 64px;
    padding-top: 100px;
}
.brand-info p{
    margin: 30px 0;
}

.brand-img{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    padding-bottom: 50px;
}
.brand-img img{
    width: 100%;
}

/* feature styles */
.features{
    display: flex;
    margin: 80px 200px;
    align-items: center;
}
.feature-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    width: 50%;
}
.feature-img img{
    width: 100%;
    padding: 0 30px;
}
.feature-info{
    margin-left: 70px;
    width: 50%;
}
.feature-info .quick{
    color: #727272;
    font-weight: 500;
    font-size: 45px;
}
.feature-info .fr-title{
    color: #FF900E;
}
.feature-info p{
    margin-top: 30px;
    margin-bottom: 30px;
}

/* love and enjoy section  */
.love-enjoy{
    margin: 100px 200px;
    display: flex;
    gap: 50px;
    align-items: center;
}
.love-enjoy .enjoy-info{
    width: 50%;
}
.love-enjoy .enjoy-info .enjoy-title{
    border-left: 4px solid #FF900E;
    padding-left: 20px;
}
.love-enjoy .enjoy-img{
    width: 50%;
}
.love-enjoy .enjoy-img img{ 
    width: 100%;
}
.enjoy-section-title{
    font-weight: 600;
    font-size: 20px;
}
.device-version{
    background-color: white;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    padding: 30px;
}
.btn-container{
    margin-top: -290px;
    margin-bottom: 120px;
    margin-left: 760px;
}
.ex-btn{
    
    color: white;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    font-size: 65px;
    padding: 40px;
    line-height: 45px;
}
.experience{
    font-weight: 500;
    font-size: 25px;
}

/* some fact styles  */
.fact{
    margin: 100px 200px;
}
.catagories-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.catagories-item{
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 30px 30px; 
    transition: ease-in-out 1.5s; 
}
.catagories-item:hover{
    transform: rotate(360deg);
    cursor: pointer;
}
.catagories-item h2{
    color: #424242;
    font-weight: 600;
    font-size: 45px;
    margin-top: 10px;
    margin-bottom: 1 0px;
}

/* sponsore styles  */
.sponsore{
    margin: 100px 200px;
}
.sponsore-info{
    text-align: center;
}
.sponsore-items{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

/* about styles */
.about{
    text-align: center;
    margin: 100px 200px;
}
/* footer styles */
footer{
    background-color: rgba(255, 144, 14, 0.1);
    padding: 20px;
    text-align: center;
}

@media screen and (max-width:688px) {
    .section-title{
        font-size: 35px;
    }
    .logo h2{
        font-size: 38px;
    }
    .header-container{
        flex-direction: column;
        margin: 0 20px;
    }
    .navigation ul{
        flex-direction: column;
        padding-left: 0;
    }
    .navigation ul li{
        margin-bottom: 10px;
    }
    .navigation ul li a{
        margin: 0;
    }
    .brand-info h2{
        font-size: 35px;
    }
    .brand-info p {
        padding: 0 15px;
    }
    .brand-img{
        margin: 50px 20px;
    }
    .btn-container{
        margin: 50px 80px;
    }
    .features{
        flex-direction: column;
        margin: 50px 20px;
    }
    .feature-img{
        grid-template-columns: 1fr;
        width: 100%;
    }
    .feature-img img{
        padding: 0;
    }
    .feature-info{
        width: 100%;
        margin: 50px 20px;
    }
    .love-enjoy{
        flex-direction: column;
        margin: 50px 20px;
        align-items: start;
    }
    .love-enjoy .enjoy-info{
        width: 100%;
    }
    .love-enjoy .enjoy-img {
        width: 100%;
    }
    .ex-btn{
        font-size: 35px;
        padding: 20px;
    }
    .fact{
        margin: 50px 20px;
    }
    .catagories-items{
        flex-direction: column;
        align-items: normal;
    }
    .catagories-item{
        margin-bottom: 30px;
    }
    .catagories-item h2{
        font-size: 35px;
    }
    .sponsore{
        margin: 50px 20px;
    }
    .sponsore-items{
        flex-direction: column;
        align-items: center;
    }
    .sponsore-item{
        margin-bottom: 30px;
    }
    .about{
        margin: 50px 20px;
    }
}

